---
// src/components/organisms/hero/Hero.astro
import Heading from '../../atoms/heading/Heading.astro';
import Button from '../../atoms/button/Button.astro';
import ResponsiveImage from '../../utils/ResponsiveImage.tsx';

interface ButtonProps {
  text: string;
  href: string;
  style?: 'primary' | 'secondary';
}

interface Props {
  title: string;
  subtitle: string;
  backgroundImage: string;
  buttons?: ButtonProps[]; // Make buttons optional
  imageAlt?: string; // Optional alt text for the background image
}

const { title, subtitle, backgroundImage, buttons, imageAlt } = Astro.props;
---
<section class="relative text-white">
    <div class="absolute inset-0 bg-black opacity-50 z-10"></div>
    <ResponsiveImage
        src={backgroundImage}
        alt={imageAlt || `Background image for ${title}`}
        addClass="absolute inset-0 w-full h-full object-cover"
        client:load
    />
    <div class="relative z-20 container mx-auto px-6 py-24 md:py-32 text-center">
        <Heading as="h1" text={title} addClass="mb-4" />
        <p class="max-w-3xl mx-auto text-lg md:text-xl mb-8">{subtitle}</p>
        {
          buttons && buttons.length > 0 && (
            <div class="flex justify-center space-x-4">
              {buttons.map(btn => (
                <Button label={btn.text} href={btn.href} style={btn.style} />
              ))}
            </div>
          )
        }
    </div>
</section>
